body {
text-align: center;
margin-top: 0;
font-family: 'Merriweather', serif;
color: #11999E;}


.top-container {
  background-color: #86c4ba;
  padding-top: 6%;
  position: relative;

}
.middle-container {
  background-color: #f4f6ff;
  padding-bottom: 11px;

}

.bottom-container {
  background-color: #86c4ba;
  padding-top: 20px;
  padding-bottom: 5px;

}

hr {
  border-style: solid none none none;

    height: 0;
    width: 4%;
    border-color: grey;
    border-top-width: 1px;
    border-spacing: 2px;
    margin-left: 47%;
    margin-right: 47%;
}
h5 {color: #112d4e;
margin: 0;
font-family: 'Caveat', cursive;}
h4 {color: #112d4e;
margin: 0;
font-family: 'Caveat', cursive;}

h3 {color: #112d4e;
  line-height: 2;
font-family: 'Montserrat', sans-serif;}

h2 {color: #112d4e;font-family: 'Montserrat', sans-serif;}
h1 {color: #112d4e;
margin: 0;
font-family: 'Caveat', cursive;
font-size: 3.125rem;
}

.bottom-cloud {position: absolute;
right:23%; bottom: 50%;}

.top-cloud {position: absolute;
left: 25%;}

.profilepicture {margin-top: 70px;
margin-bottom: 15px;}

.myskillsimage {margin-top: 0;
float: left;
margin-bottom: 100px;
padding-top: 25px;}

.activitiesimage {margin-top: 23px;

float: right;
margin-bottom: 20px;
margin-right: 20px;
padding-left: 40px;}

.skills {margin-top:150px;
margin-left: 0px;}

.contact-me {margin-top: 100px;
margin-bottom: 30px;}

.my-skills {
margin-left: auto;
margin-right: auto;

line-height: 2;
width: 60%;
text-align: left;}

.my-interests {
margin-left: auto;
margin-right: auto;
line-height: 2;
width: 50%;
text-align: right;
padding-top: 150px;

}

.mybutton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #0e77a8));
	background:-moz-linear-gradient(top, #599bb3 5%, #0e77a8 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #0e77a8 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #0e77a8 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #0e77a8 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #0e77a8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#0e77a8',GradientType=0);
	background-color:#599bb3;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-top: 5px;
}
.mybutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e77a8), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #0e77a8 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #0e77a8 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #0e77a8 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #0e77a8 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #0e77a8 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e77a8', endColorstr='#599bb3',GradientType=0);
	background-color:#0e77a8;
}
.mybutton:active {
	position:relative;
	top:1px;
}

.LinkedIn {display: inline-block;}
